body {
  background-color:black;
  color:#ffffff;
  font-family: 'Press Start 2P', monospace;
}

#main, #header, #footer {
  width:850px;
  margin-left:auto;
  margin-right:auto;
}

#header {
   background-color:black;
}

#page {
	  background-color:black;
  text-align:left;
}


#clock {
	  background-color:black;
  text-align:right;
}


#main {
  min-height:730px;
}

.listleft, .listright {
  float:left;
  margin:5px 0px;
}

.listleft {
  width:90%;
  color:#00ffff;
}

.listright {
  width:10%;
  text-align:right;
}

h1 {
  text-align:center;
  background-color:#0000ff;
  color:#ffff00;
  margin:0px;
  padding:20px 0px;
}

h3 {
  color:#ffff00;
}


hr {
  height:6px;
  width:100%;
  color:#0000ff;
  background-color:#0000ff;
  border:1px solid #0000ff;
  margin:20px 0px;
}

#red, #green, #yellow, #blue {
  width:25%;
  display:inline;
  border:0px;
  float:left;
  text-align:center;
}

#red {
  color:#ff0000;
}

#green {
  color:#00ff00;
}

#yellow {
  color:#ffff00;
}

#blue {
  color:#00ffff;
}

@media screen and (max-width: 850px) {
  #header, #main, #footer {
    width:100%;
  }
}

#mobilephonehack {
	margin-top: 75px;
	 display: none;
 	 float:left;
	 width: 100%;
	 align: center;
	 
  }
  #remotecontroltable{
  	margin: 0 auto; 
	width: 100%;
	padding: 10px;
	
  }
  
.button{
  	 color:ffffff;
	 font-size: xx-large;
	 min-height: 100px;
	 background-color:#3D4849;
	 cursor: pointer;
	 text-align: center;
	
	 vertical-align: middle;
	 
  }

@media screen and (max-width:1000px) {
  #mobilephonehack {
	display: block;
    overflow: hidden;
  }
}